/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src:
       url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
       url('../fonts/barlow-v12-latin-regular.woff') format('woff');
}
/* barlow-700 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src:
       url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
       url('../fonts/barlow-v12-latin-700.woff') format('woff');
}
/* fraunces-regular - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src:
       url('../fonts/fraunces-v22-latin-regular.woff2') format('woff2'),
       url('../fonts/fraunces-v22-latin-regular.woff') format('woff');
}
/* fraunces-900 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src:
       url('../fonts/fraunces-v22-latin-900.woff2') format('woff2'),
       url('../fonts/fraunces-v22-latin-900.woff') format('woff');
}

*, *::after, *::before{
  box-sizing: border-box;
}
body{
  background-color: #FEFCF7;
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces";
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
img{
  vertical-align: middle;
  object-fit: cover;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
ul, ol{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container{
  width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}
.header{
  padding: 43px 0;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__container-link {
  margin-right: auto;
  text-decoration: none;
}
.header__container-logo {
  width: 236px;
  height: 26px;
  object-fit: contain;
}
.nav__list {
  display: flex;
}
.nav__item:nth-child(1) .nav__link{
  color: #383737;
}
.nav__link {
  text-decoration: none;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}
.nav__link--active{
  margin: 0 32px;
}
.nav__link:hover{
  transform: scale(1.5);
  color: #383737;
}
.hero__container {
  background-image: url("./../images/hero-img.jpg");
  padding: 117px 85px;
}
.hero__inner-box {
  width: 493px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero__title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin-bottom: 32px;
}
.hero__text {
  font-family: 'Barlow';
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  margin-bottom: 56px;
  padding-right: 10%;
}
.button{
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  text-decoration: none;
  padding: 15px 31px;
  background: #0E8784;
  border-radius: 6px;
}
.collection {
  padding: 136px 0 200px 0;
}

.collection__inner-container{
  max-width: 1151px;
}

.collection__container {
  padding-top: 126px;
  background-image: url("./../images/our-collection.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.collection__container-list {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img {
  width: 255px;
  height: 193px;
  margin-bottom: 72px;
}

.card__title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
  margin-bottom: 24px;
}

.card__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}
.choice__container {
  position: relative;
  padding-top: 100px;
  background-color: #2C343E;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choice__content {
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 317px;
}
.choice__content-title {
  font-family: 'Fraunces';
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
}
.choice__content-text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  opacity: 0.8;
}
.choice__container-list {
  position: absolute;
  top: 340px;
  width: 1110px;
  display: flex;
  justify-content: space-between;
}
.choice__card {
  width: 350px;
  padding: 72px 48px 48px 48px;
  background: #0E8784;
  border-radius: 8px;
}
.card__title {
  color: #FEFCF7;
}
.card__subtext {
  color: #FEFCF7;
}
.choice__card::before{
  content: "";
  width: 72px;
  height: 72px;
  display: inline-block;
  margin-bottom: 56px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.choice__card:nth-child(1)::before{
  background-image: url("./../images/best-quality.svg");
}
.choice__card:nth-child(2)::before{
  background-image: url("./../images/exclusive-benefits.svg");
}
.choice__card:nth-child(3)::before{
  background-image: url("./../images/free-shipping.svg");
}
.steps__container {
  width: 1135px;
  margin: 342px 0 200px 0;
  margin-left: 85px;
}
.steps__container-title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 80px;
}
.steps__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.steps__item{
  width: 380px;
}
.steps__item-box{
  margin-bottom: 67px;
  position: relative;
}
.steps__item-box::before{
  content: "";
  display: inline-block;
  width: 31px;
  height: 31px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
}
.steps__item-box::after{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #FDD6BA;
}
.steps__item:last-child .steps__item-box::after{
  display: none;
}
.steps__item-inner {
  width: 285px;
}
.steps__item-title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin-bottom: 38px;
}
.steps__item-subtitle {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  padding-right: 10%;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 42px;
}
.steps__item-text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}
.footer {
  margin-bottom: 88px;
}
.footer__container {
  display: flex;
  align-items: center;
  padding: 47px 85px;
  background-color: #2C343E;
}
.footer__logo-link {
  margin-right: 103px;
}
.footer__logo-img {
  width: 236px;
  height: 26px;
}
.footer__nav{
  margin-right: auto;
}
.footer__nav .footer__nav-link:nth-child(1){
  color: #8f8f8f;
}
.footer__nav .footer__nav-link:hover{
  color: #abaeb2;
}
.footer__icon-list {
  display: flex;
}
.footer__icon-img--active{
  margin: 0 24px;
}
.footer__icon-img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}